.container{
    width: 90%;
    height: 60vh;
    margin:20vh auto;
    position:relative;
    /* RESET */
    background-color: aqua;
}

.imagines_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    /* RESET */
    background-color: blueviolet;    
}

.img_cell{
    width: 100%;
    height: 100%;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.prev_arrow,.next_arrow{
    position: absolute;
    left: 50%;
    
    transform: translatex(-50%);
    background-color: white;
    font-size: 2rem;
    height: 50px;
    width:50px;
    opacity: .8;
    text-align: center;
    border-radius: 50px;
}
.next_arrow{
    top:.5rem;
}

.prev_arrow{
    bottom:.5rem;
}